@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
    </div>
    <CascadingValue Value="buttonState">
        <div class="content px-4">
            @Body
        </div>
        <hr />
        <div>
            <SaveAndCancelBtns />
        </div>
    </CascadingValue>
</div>

@code {

    CascadingStateExample.States.ButtonStates buttonState = new States.ButtonStates();
}
